# Testing this one just a couple of images for now
name: Build container-review-admin

on:
  workflow_dispatch:

  push:
    branches: [ master ]
    paths: 
    - container-review-admin/**
  schedule:
  - cron: "30 12 26 * *"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Log in to Docker Hub
      env:
        DOCKER_PASSWORD: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      run: docker login -u smarticu5 -p $DOCKER_PASSWORD
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        platforms: linux/amd64,linux/arm64
        context: "./container-review-admin"
        push: true
        tags: user/app:latest